<!--<div class="row">
    <div class="col s12 m10 offset-m1">
        <div class="card-panel teal darken-3">
            <div class="row">
                <div class="col m12">
                    <h1 class="center-align white-text"><span class="orange-text darken-4-text">D</span>eve<span class="orange-text darken-4-text">L</span>ook</h1>
                </div>
                <div class="col-md-12">
                    <div class="col m2 offset-m2">
                        <img src="/assets/img/icon.png" style="width:100%;" />
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="input-field col m6">
                        <input placeholder="E-mail" id="email" type="email" class="validate">
                        <label for="email">E-mail</label>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="input-field col m6">
                        <input id="password" type="password" class="validate">
                        <label for="password">Password</label>
                    </div>
                </div>
                <div class="col-md-12">
                    <button class="waves-effect orange darken-3 btn"><i class="material-icons left">send</i>Iniciar sesión</button>
                </div>
            </div>
        </div>
    </div>
</div>-->
<div *ngIf="sesion">THIS IS TRUE
    <p>{{correo}}</p>
</div>
<div *ngIf="!sesion">
    <div class="row">
        <div class="col s12 m10 offset-m1">
            <div class="card-panel teal darken-3">
                <div class="row">
                    <div class="col m12">
                        <h1 class="center-align white-text"><span class="orange-text darken-4-text">D</span>eve<span class="orange-text darken-4-text">L</span>ook</h1>
                    </div>
                    <div class="col-md-12">
                        <div class="col m2 offset-m2">
                            <img src="/assets/img/icon.png" style="width:100%;" />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="input-field col m6">
                            <input placeholder="E-mail" id="email" type="email" class="validate" [(ngModel)]="correo">
                            <label for="email">E-mail</label>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="input-field col m6">
                            <input id="password" type="password" class="validate">
                            <label for="password">Password</label>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button class="waves-effect orange darken-3 btn" (click)="changeStatus()"><i class="material-icons left">send</i>Iniciar sesión</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>